.presentation {
  display: flex;
  align-items: stretch;
  padding: 16px;
}

.presentation-text {
  width: 50%;
  height: 100%;
}

.presentation-text h2 {
  font-family: "Fairplay";
  font-size: 64px;
  font-weight: 400;
  padding: 16px;
}

.presentation-text h3 {
  font-size: 1.6em;
  padding: 32px;
  font-weight: lighter;
}

.presentation-img {
  width: 50%;
  display: flex;
}

.presentation-img img {
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presentation-text{
    width: 100%;
  }
  .presentation-img{
    width: 100%;
  }
  .presentation h2{
    text-align: center;
  }
  .presentation h3{
    padding: 0;
    padding-bottom: 16px;
    text-align: justify;
  }
}

@media screen and (max-width: 475px){
  .presentation h2{
    font-size: 48px;
  }
  .presentation h3{
    font-size: 16px;
  }
}